ul{
    list-style: none;
    padding: 0;
    width: 100px;
    background-color: #444;
}

a{
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: #2a2a2a;
}

a:active {
    color: orange;
}